#ai {
  margin-bottom: 2rem;

  & img {
    max-width: 11rem;
  }

  &>div {
    display: grid;
    gap: var(--gap-2);
    grid-template-columns: 1fr;

    & article {
      display: grid;
      gap: var(--gap-1);
      grid-template-columns: auto 1fr;
      align-items: start;

      & div {
        grid-column: 2;
      }

      & img {
        grid-row: 1;
        grid-column: 1;
        width: clamp(80px, 15vw, 200px);
        aspect-ratio: 1 / 1;
        object-fit: cover;
      }

      & h2 {
        margin-top: .5rem;
        font: var(--h2);
      }
    }
  }

}

@media (width >=48rem) {
  #ai>div {
    grid-template-columns: 1fr 1fr;
  }
}

@media (width >=80rem) {
  #ai {
    margin-bottom: 0;

    &>div {
      grid-template-columns: 1fr;

      & article {
        grid-template-columns: 1fr 176px;
        gap: 2rem;

        & div {
          grid-column: 1;
        }

        & img {
          grid-column: 2;
          width: 176px;
          height: 176px;
        }

        & p {
          text-align: justify;
          font: var(--text-p);
          color: var(--text-color-secondary);
        }
      }
    }
  }
}