aside {
  display: flex;
  flex-direction: column;
  /* height: 100%; */
  gap: var(--gap-2);
}

#ads img {
  width: 100%;
}

#more {
  flex: 1;
  display: flex;
  flex-direction: column;

  & > div {
    display: grid;
    gap: var(--gap-1);

    & article {
      display: grid;
      gap: var(--gap-1);
      grid-template-columns: 1fr auto;

      & h3 {
        margin-top: .5rem;
        font: var(--h3);

        display: -webkit-box;
        -webkit-line-clamp: 2;
        line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
      }

      & #title {
        margin-top: 0;
      }

      & img {
        width: 72px;
        aspect-ratio: 1 / 1;
        object-fit: cover;
      }
    }
  }
}

/* Desktop: Ativa o espaçamento dinâmico */
@media (width >= 80rem) {
  #more > div {
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Distribui as notícias de cima a baixo */
    flex: 1;
    gap: 0; /* Deixa o espaço ser controlado pelo justify-content */
  }
}