aside {
  display: flex;
  flex-direction: column;
  gap: var(--gap-2);
}

#ads img {
  width: 100%;
}

#more {
  flex: 1;
  display: flex;
  flex-direction: column;

  &>div {
    display: grid;
    gap: var(--gap-1);

    & article {
      display: grid;
      gap: var(--gap-1);
      grid-template-columns: 72px auto;

      & h3 {
        margin-top: .5rem;
        font: var(--h3);

        display: -webkit-box;
        -webkit-line-clamp: 2;
        line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
      }

      & #title {
        margin-top: 0;
      }

      & img {
        width: 72px;
        aspect-ratio: 1 / 1;
        object-fit: cover;
      }
    }
  }
}

@media (width >=48rem) {
  #more>div {
    display: grid;
    grid-template-columns: repeat(auto-fit, 30%);
  }
}

@media (width >=80rem) {
  #more>div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1;
    gap: 0;
  }
}