#ads img {
    width: 100%;
  }

#more {
  margin-top: 2rem;

  & h3 {
    margin-top: 8px;
  }

  & #title {
    margin-top: 0;
  }

  & img {
    width: 72px;
    aspect-ratio: 1/1;
    object-fit: cover;
  }
}

@media (width >= 48rem) {
}

@media (width >= 80rem) {

}