* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --brand-color-light: #60A5FA;
  --brand-color-dark: #1D4ED8;
  --bg-color: #0F172A;
  --stroke-color: #1E293B;
  --text-color-primary: #F1F5F9;
  --text-color-secondary: #CBD5E1;

  --font-family: 'Archivo', sans-serif;
  --h1: 800 1.5rem/135% var(--font-family);
  --h2: 800 1rem/140% var(--font-family);
  --h3: 800 .875rem/140% var(--font-family);
  --text-span: 600 .875rem/145% var(--font-family);
  --text-p: 400 .875rem/160% var(--font-family);
  --text: 400 1rem/140% var(--font-family);

  --py-1: 1rem;
  --py-2: 2rem;
  --gap-1: 1rem;
  --gap-2: 2rem;

  --fluid-100-160: clamp(6.25rem, 4.7826rem + 6.5217vw, 10rem);
}

body {
  font: var(--text);
  color: var(--text-color-primary);
  background-color: var(--bg-color);
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  color: var(--brand-color-light);
}

h1,
h2,
h3 {
  font: inherit
}

img {
  max-width: 100%;
}

.container {
  padding-inline: var(--py-1);
}

main {
  margin-block: 40px;
  row-gap: 80px;
  column-gap: 32px;

  grid-template-columns: 2fr 1.4fr;

  grid-template-areas:
    "featured featured"
    "weekly weekly"
    "ai aside";
}

.content-tag {
  display: inline-block;
  background-color: var(--brand-color-dark);
  padding: 4px 8px;
  border-radius: 4px;
  font: 500 10px/1.2 var(--font-family);
  text-transform: uppercase;
  letter-spacing: 0.04em;
  color: var(--text-color-primary);
  box-shadow: 0px 4px 16px rgba(#02061740);
}


@media (width >=48rem) {}


@media (with >=80rem) {
  .container {
    padding-inline: var(--py-2);
  }
}