section header {
  border-top: 1px solid var(--stroke-color);
  padding-block: .75rem 1.5rem;
  font: var(--text-span);
  display: flex;
  justify-content: space-between;

  & a {
    display: flex;
    align-items: center;
    gap: 8px;

    & span {
      background-image: url(../assets/icons/ArrowRight.svg);
      width: 16px;
      height: 16px;
    }

    &:hover span {
      background-image: url(../assets/icons/ArrowRight-hover.svg);
    }
  }
}

#ai {

  img {
    width: 176px;
    aspect-ratio: 1/1;
    object-fit: cover;
  }

  h3 {
    margin-block: 8px 4px;
  }
}



#more {
  margin-top: 32px;

  h3 {
    margin-top: 8px;
  }

  #title {
    margin-top: 0;
  }

  img {
    width: 72px;
    aspect-ratio: 1/1;
    object-fit: cover;
  }
}
