section header {
  border-top: 1px solid var(--stroke-color);
  padding-block: .75rem 1.5rem;
  font: var(--text-span);
  display: flex;
  justify-content: space-between;

  & a {
    display: flex;
    align-items: center;
    gap: 8px;

    & span {
      background-image: url(../assets/icons/ArrowRight.svg);
      width: 16px;
      height: 16px;
    }

    &:hover span {
      background-image: url(../assets/icons/ArrowRight-hover.svg);
    }
  }
}

@media (width >=80rem) {
  main>div {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: var(--gap-2);
  }
}