section header {
  border-top: 1px solid var(--stroke-color);
  padding-block: 12px 24px;
  font: var(--text-span);

  a {
    justify-self: end;
    align-items: center;
    gap: 8px;

    span {
      background-image: url(../assets/icons/ArrowRight.svg);
      width: 16px;
      height: 16px;
    }

    &:hover span {
      background-image: url(../assets/icons/ArrowRight-hover.svg);
    }
  }
}



#weekly {

  & > div {
    grid-template-columns: repeat(4, 292px);
  }

  img {
    height: 160px;
  }

  figure {
    position: relative;

    .content-tag {
      position: absolute;
      top: 8px;
      left: 8px;
    }

    p {
      margin-top: 8px;
      font-weight: 800;
    }
  }
}

#ai {

  img {
    width: 176px;
    aspect-ratio: 1/1;
    object-fit: cover;
  }

  h3 {
    margin-block: 8px 4px;
  }
}



#more {
  margin-top: 32px;

  h3 {
    margin-top: 8px;
  }

  #title {
    margin-top: 0;
  }

  img {
    width: 72px;
    aspect-ratio: 1/1;
    object-fit: cover;
  }
}
