#weekly {
  margin-bottom: 2rem;
  
  & div {
    display: grid;
    gap: var(--gap-1);

    & img {
      width: 100%;
      object-fit: cover;
    }

    & figure {
      position: relative;

      & .content-tag {
        position: absolute;
        top: 8px;
        left: 8px;
      }

      & p {
        margin-top: 8px;
        font: var(--h2)
      }
    }
  }
}

@media (width >=48rem) {
  #weekly {
    margin-bottom: 2rem;
    & div {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}

@media (width >=80rem) {
  #weekly {
    & div {
      grid-template-columns: repeat(4, 1fr);
    }
  }
}